<div class="container">
    <div>
        <h1 class="text-center">Our Staff</h1>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Age</th>
                
                        </tr>
                    </thead>
                    <tbody class="table" *ngFor="let member of staff">
                        <tr>
                            <td>{{member.name}}</td>
                            <td>{{member.role}}</td>
                            <td>{{member.gender}}</td>
                            <td>{{member.age}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>